@model ShoppingCart
<header>
    <link rel="stylesheet" href="~/css/productdetail.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://codepen.io/kathykato/pen/57f0b5b76e6aa7e4917e08b81d378d7b.scss" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" asp-append-version="true" />
</header>
<form method="post">
    <input hidden asp-for="ProductId" />
    <main>
        <div class="container">
            <div class="grid second-nav">
                <div class="column-xs-12">
                    <nav>
                        <ol class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            @*<li class="breadcrumb-item"><a href="#">Household Plants</a></li>
                            <li class="breadcrumb-item active">Bonsai</li>*@
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="grid product">
                <div class="column-xs-12 column-md-7">
                    <div class="product-gallery">
                        <div class="product-image">
                            <img class="active" src="@Model.Product.ImageUrl">
                        </div>
                        <ul class="image-list">
                            <li class="image-item"><img src="@Model.Product.ImageUrl"></li>
                            <li class="image-item"><img src=""></li>
                            <li class="image-item"><img src=""></li>
                        </ul>
                    </div>
                </div>
                <div class="column-xs-12 column-md-5">
                    <h1>@Model.Product.Mark</h1>
                    <h2>@Model.Product.Name</h2>
                    <h3>@Model.Product.Price.ToString("c")</h3>
                    <div class="description">
                        <p>Ürün tanıtımı paragraf...1.</p>
                        <p>Ürün tanıtımı paragraf...2.</p>
                        <p>Adet: <div class="col-10"><input asp-for="Count" class="form-control" /></div></p>
                    </div>
                    <button type="submit" value="Add To Cart" class="add-to-cart">Sepete Ekle</button>
                </div>
            </div>
            <div class="grid related-products">
                <div class="column-xs-12">
                    <h3>Bunları da beğenebilirsiniz</h3>
                </div>
                @*<div class="column-xs-12 column-md-4">
                <img src="https://source.unsplash.com/miziNqvJx5M">
                <h4>Succulent</h4>
                <p class="price">$19.99</p>
                </div>
                <div class="column-xs-12 column-md-4">
                <img src="https://source.unsplash.com/2y6s0qKdGZg">
                <h4>Terranium</h4>
                <p class="price">$19.99</p>
                </div>
                <div class="column-xs-12 column-md-4">
                <img src="https://source.unsplash.com/6Rs76hNbIWE">
                <h4>Cactus</h4>
                <p class="price">$19.99</p>
                </div>*@
            </div>
        </div>
    </main>
</form>
<script src="~/js/productdetail.js"></script>